/* 날짜 */
@font-face {
    font-family: 'KCC-Ganpan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/KCC-Ganpan.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* 타이틀 */
@font-face {
    font-family: 'SBAggroB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 버튼 */
@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

.fc {
    height: 905px !important;
}

.fc .fc-toolbar {
    display: inline-block;
}

.fc-toolbar-chunk:nth-child(3) {
    float: right;
}

/* 월, 년도 */
.fc .fc-toolbar-title {
    float: left;
    font-family: 'SBAggroB';
    font-size: 50px;
    color: white;
    -webkit-text-stroke: 2px #7513C2;
}

.fc .fc-toolbar.fc-header-toolbar {
    margin-bottom: 40px;
}

/* 투데이, 이전 다음달 버튼 */
.fc .fc-button {
    font-family: 'NanumSquareNeo-Variable';
    font-size: 15px;
    font-weight: bold;
    height: 45px;
    border: 3px solid #9747FF;
    border-radius: 0.5em;
    transition: all .1s ease;
    padding: 0px 12px;
}

.fc .fc-button:hover,
.fc .fc-button:nth-child(1):hover {
    background-color: #d5e9fa;
    color: #9747FF;
}

.fc .fc-button:nth-child(1) {
    background-color: #a5c9fc;
    border: 3px solid #a5c9fc;
}

/* 요일 */
.fc-col-header {
    background-color: #7513C2;
    border-style: none;
    color: white;
}

.fc-col-header-cell-cushion {
    color: white;
    font-family: 'KCC-Ganpan';
    font-size: 20px;
}

/* 요일 숫자 */
.fc-daygrid-day-number {
    font-family: 'KCC-Ganpan';
    font-size: 15px;
}

/* 일요일 날짜: 빨간색 */
.fc-day-sun a {
    color: rgb(248, 99, 99);
}

/* 토요일 날짜: 파란색 */
.fc-day-sat a {
    color: #a5c9fc;
}

/* 캘린더 그리드 */
.fc .fc-scrollgrid-liquid {
    border: 2px solid #9747FF;
    border-collapse: collapse;
}

.fc-theme-standard th {
    background-color: #9747FF;
    height: 50px;
    line-height: 50px;
    border: none;
}

.fc-theme-standard td {
    background-color: white;
    border: 2px dashed #9747FF;
}

/* 무드이미지 */
.fc .fc-day .fc-daygrid-day-events {
    height: 100px;
    cursor: pointer;
}

.fc .fc-event {
    width: 110px;
    height: 110px;
}

.fc .fc-event .mood_detail {
    width: 100%;
    height: 100%;
}

/* 이미지 가운데 정렬*/
.fc .fc-daygrid-event-harness {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
}

/* 풀캘린더 */
:root {
    --fc-small-font-size: .85em;
    --fc-page-bg-color: #fff;
    --fc-neutral-bg-color: rgba(208, 208, 208, 0.3);
    --fc-neutral-text-color: #808080;
    --fc-border-color: #ddd;
    --fc-button-text-color: #fff;
    --fc-button-bg-color: #9747FF;
    --fc-button-border-color: #9747FF;
    --fc-button-hover-bg-color: #9747FF;
    --fc-button-hover-border-color: #9747FF;
    --fc-button-active-bg-color: #9747FF;
    --fc-button-active-border-color: #9747FF;

    --fc-event-bg-color: none;
    --fc-event-border-color: none;
    --fc-event-text-color: #fff;
    --fc-event-selected-overlay-color: rgba(0, 0, 0, 1);

    --fc-more-link-bg-color: #d0d0d0;
    --fc-more-link-text-color: inherit;

    --fc-event-resizer-thickness: 100%;
    --fc-event-resizer-dot-total-width: 100%;
    --fc-event-resizer-dot-border-width: none;

    --fc-non-business-color: rgba(215, 215, 215, 0.3);
    --fc-bg-event-color: rgb(143, 223, 130);
    --fc-bg-event-opacity: 1;
    --fc-highlight-color: rgba(188, 232, 241, 0.3);
    --fc-today-bg-color: rgba(255, 220, 40, 0.15);
    --fc-now-indicator-color: red;
}